
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-poppins: "Poppins", sans-serif;

    --color-primary: #38405f;
    --color-primary-dark: #2f3652;
    --color-primary-darker: #272c43;
    --color-primary-darkest: #1e2333;
    --color-primary-light: #48527a;
    --color-primary-lighter: #5a6592;
    --color-primary-lightest: #adb2c9;

    --color-secondary: #cd5334;
    --color-secondary-dark: #b0492e;
    --color-secondary-darker: #8e3c27;
    --color-secondary-darkest: #6b2e1f;
    --color-secondary-light: #d86c50;
    --color-secondary-lighter: #e28a74;
    --color-secondary-lightest: #f1c7bc;

    --color-black-theme: #0b0d13;
    --color-white-theme: #ebecef;
    --color-grey-light: #c5c7cc;
    --color-grey-dark: #70737a;
    --color-grey-darker: #3f4248;
}
